.bodyClass {
    .imgBackground{
        background-image: url('../assets/Books.jpeg');
        background-repeat: no-repeat;
        height: 100vh;
        width:100vw;
        opacity: 0.4;
        display: flex;
        flex-direction: column;
        justify-content: center; // vertical center
        align-items: center;     // horizontal center
    }
    .imgHeading{
        font-size: 3rem;
        color: white;
    }
    .imgSpam{
        font-size: 1.5rem;
        color: white;
    }
    .regulationContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 40px;
        .regulationHeading{
            font-size: 24px;
            font-weight: bold;
        }
        .regulationSpam{
            margin-top: 15px ;
            font-size: 18px;
        }
    }
    
}